
/* PARTICLES */
.particles {
    position: relative;
    display: flex;
    z-index: 50;
    padding: 0 20px;
}

.particles span {
    position: relative;
    bottom: 5px;
    width: 5px;
    height: 5px;
    background: #4fc3dc;
    box-shadow: 0 0 16px 7px #d3dc4f2a, 0 0 30px #4fc3dc;
    margin: 0 80px;
    border-radius: 50%;
    animation: animateParticles 55s linear infinite;
    animation-duration: calc(800s / var(--i));
}

.particles span:nth-child(2) {
    background-color: #fd5901;
    box-shadow: 0 0 7px 5px #fff52d17, 0 0 50px #ff692d;
}

.particles span:nth-child(3) {
    background-color: #db01fd;
    box-shadow: 0 0 7px 5px #df2dff17, 0 0 30px #ff2ded;
}


@keyframes animateParticles {
    0%
    {
        transform: translate(100px, -15px) scale(0);
    }
    15% {
        transform: translate(50px, -75px) scale(0.5);
    }

    18% {
        transform: translate(50px, -100px) scale(0.5);
    }

    25% {
        transform: translate(-125px, -125px) scale(1.2);
    }

    32% {
        transform: translate(-125px, -175px) scale(1.2);
    }

    40% {
        transform: translate(50px, -200px) scale(1);
    }
    50% {
        transform: translate(-250px, -250px) scale(1);
    }

    62% {
        transform: translate(-775px, -300px) scale(0.7);
    }

    75% {
        transform: translate(-775px, -375px) scale(1);
    }
    100%
    {
        transform: translate(350px, -500px) scale(0);
    }
}


/* FADE IN */
@keyframes fadeIn {
    to {
      opacity: 1;
    }
}


/* WIDEN NOSE LOGO */
.widen-nose {
    position: absolute;
    display: flex;
    z-index: 50;
    padding: 0px 19px;
    margin-bottom: 25.8px;
}

.widen-nose .right {
    position: relative;
    width: 7px;
    height: 10px;
    background: #0f6962;
    margin: 0 3px;
    border-radius: 95% 4%;
    transform: rotate(4deg);
    transform: scale(0);
    animation: widenNoseRight 5s linear 3s infinite;
    animation-duration: 300s;
}

.widen-nose .left {
    position: relative;
    width: 7px;
    height: 10px;
    background: #198d80;
    margin: 0 3px;
    border-radius: 4% 95%;
    transform: scale(0);
    animation: widenNoseLeft 5s linear 3s infinite;
    animation-duration: 300s;
}

@keyframes widenNoseLeft {
0% {
    transform: skew(27deg, 30deg) scale(0.1) translate(13px, -8px);
}
0.25% {
    transform: scale(1) translate(0px, 0px);
}
0.5% {
    transform: skew(27deg, 30deg) scale(0.1) translate(13px, -8px);
}
100% {
    transform: skew(27deg, 30deg) scale(0.1) translate(13px, -8px);
}
}


@keyframes widenNoseRight {
    0% {
        transform: skew(333deg, 330deg) scale(0.1) translate(-8px, -8px);
    }
    0.25% {
        transform: scale(1) translate(0px, 0px);
    }
    0.5% {
        transform: skew(333deg, 330deg) scale(0.1) translate(-8px, -8px);
    }
    100% {
        transform: skew(333deg, 330deg) scale(0.1) translate(-8px, -8px);
    }
    }


/* WIDEN BACKGROUND LOGO HEADER */
@keyframes widenBackgroundLogo {

    to    {transform: scale(1) translate(0px, 0px);
            height: 65px;}
}

/* SLIDE DOWN */
@keyframes slideInDown {
    from    {transform: translateY(-278px) scale(0);}
    to      {transform: translateY(0) scale(1);}
}



.choose-pet-buttons {
    display: none;
}

.home--cat {
    display: none;
}

.home--dog {
    display: none;
}

.home-menu {
    display: none;
}




/* FOR MOBILE */
@media (max-width: 1482px) {


    .particles span {
        margin: 0 20px;
    }
    
    @keyframes animate {
        0%
        {
            transform: translate(100px, -175px) scale(0);
        }
        15% {
            transform: translate(50px, -185px) scale(0.5);
        }
    
        18% {
            transform: translate(50px, -200px) scale(0.5);
        }
    
        25% {
            transform: translate(-125px, -220px) scale(1.2);
        }
    
        32% {
            transform: translate(-125px, -280px) scale(1.2);
        }
    
        40% {
            transform: translate(50px, -300px) scale(1);
        }
        50% {
            transform: translate(-250px, -350px) scale(1);
        }
    
        62% {
            transform: translate(-775px, -400px) scale(0.7);
        }
    
        75% {
            transform: translate(-775px, -575px) scale(1);
        }
        100%
        {
            transform: translate(350px, -700px) scale(0);
        }
    }


    .widen-nose {
        padding: 0px 12.5px;
        margin-bottom: 15px;
    }

    .widen-nose .right, .widen-nose .left {
        margin: 0 2px;
    }







    .home-menu.active .tooltip {
        visibility: visible;
        opacity: 1;
        transition: all 2s;
    }

    .home-menu--dog.active .tooltip--dog {
        visibility: visible;
        opacity: 1;
        transition: all 2s;
    }




    /* HOME MENUS */

/* home-MENU on HOME*/
.home--cat {
    width: 343px;
    height: 446px;
    padding: 89px 0px 0px 167px;
    margin-bottom: 50px;
    background-image: url(./img/home/cat-play.png);
    background-repeat: no-repeat;
    padding-top: 204px;
    padding-left: 4px;
    background-position: right;
    margin-top: 40px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.home--cat::after {
    position: absolute;
    content: "коте";
    font-size: 74px;
    font-weight: 900;
    rotate: 51deg;
    right: 60px;
    color: #bdbdbd7a;
    z-index: 1;
}

.home-menu {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    transform: rotate(90deg);
    z-index: 10;
}

.home-menu li {
    position: absolute;
    left: -110px;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(90deg) translate(110px);
}

.home-menu.active li {
    transform: rotate(calc(180deg / 7 * var(--i))) translateX(-45px);
}
.home-menu li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color:var(--clr);
    border: 4px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc((180deg / -7 * var(--i)) - 90deg));
    transition: 1s;
    background: var(--background-color-footer);
}

.home-menu li a ion-icon {
    color: inherit;
}

.home-menu li a:hover {
    transition: 0s;
    background: var(--clr);
    color: #333;
    /* box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); */
}

.home-menu .home-toggle {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #249ea0;
    border: 4px solid #036c6d;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 2em;
    transition: transform 1.25s;
}

.home-menu.active .home-toggle {
    transform: rotate(315deg);
    z-index: 10;
}


.tooltip {
    visibility: hidden;
    width: 132px;
    height: 46px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    rotate: calc((180deg / -7 * var(--i)) - 90deg);
    transform: translate(68px, -4px);
    margin: -55px -69px;
}

.home-menu li:hover .tooltip {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Fade in the tooltip */
}





/* HOME MENU FOR DOG */
.home--dog {
    width: 343px;
    height: 446px;
    margin-bottom: 50px;
    background-image: url(./img/home/dog-sit.png);
    background-repeat: no-repeat;
    padding-top: 207px;
    padding-left: 166px;
    background-position: left;
    margin-top: 40px;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

.home--dog::after {
    position: absolute;
    content: "куче";
    font-size: 68px;
    font-weight: 900;
    rotate: -69deg;
    left: 19px;
    color: #bdbdbd7a;
}

.home-menu--dog {
    position: relative;
    width: 60px;
    height: 60px;
    padding: 0;
    display: flex;
    transform: rotate(280deg);
    z-index: 10;
}

.home-menu--dog li {
    position: absolute;
    left: -110px;
    list-style: none;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(90deg) translate(110px);
}

.home-menu--dog.active li {
    transform: rotate(calc(180deg / 7 * var(--i))) translateX(-45px);
}
.home-menu--dog li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    color:var(--clr);
    border: 4px solid var(--clr);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc((180deg / -7 * var(--i)) - 280deg));
    transition: 1s;
    background: var(--background-color-footer);
}

.home-menu--dog li a ion-icon {
    color: inherit;
}

.home-menu--dog li a:hover {
    transition: 0s;
    background: var(--clr);
    color: #333;
    /* box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 50px var(--clr); */
}

.home-menu--dog .home-toggle--dog {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #fd2b01;
    border: 4px solid #be290b;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10000;
    font-size: 2em;
    transition: transform 1.25s;
    rotate: -10deg;
}

.home-menu--dog.active .home-toggle--dog {
    transform: rotate(315deg);
}


.tooltip--dog {
    visibility: hidden;
    width: 104px;
    height: 38px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
    rotate: calc((180deg / -7 * var(--i)) - 280deg);
    transform: translate(77px, -4px);
    margin: -47px -14px;
    font-size: 13px;
}

.home-menu--dog li:hover .tooltip--dog {
    visibility: visible; /* Show the tooltip on hover */
    opacity: 1; /* Fade in the tooltip */
}







/* HOME CHOOSE PET BUTTONS */
.choose-pet-buttons {
    display: block;
    margin-top: 36px;
    text-align: -webkit-center;
}

#home--cat-button, #home--dog-button {
    position: relative;
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    width: 200px;
    margin: 20px;
}

#home--cat-button:hover, #home--dog-button:hover {
    letter-spacing: 0.25em;
    background-color: var(--clr);
    color: var(--clr);
    box-shadow: 0 0 35px var(--clr);
}

#home--cat-button::before, #home--dog-button::before {
    content: '';
    position: absolute;
    inset: 2px;
    background-color: #27282c;
}


#home--cat-button span, #home--dog-button span {
    position: relative;
    z-index: 1;    
}
#home--cat-button i, #home--dog-button i {
    position: absolute;
    inset: 0;
    display: block;
}

#home--cat-button i::before, #home--dog-button i::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 93%;
    transform: translate(50%);
    width: 10px;
    height: 10px;
    background-color: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
}

#home--cat-button:hover i::before, #home--dog-button:hover i::before {
    left: 0%;
    transform: translateX(-50%) rotate(45deg);
    box-shadow: 33px 33px var(--clr);
}

#home--cat-button i::after, #home--dog-button i::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: -11px;
    transform: translate(50%);
    width: 10px;
    height: 10px;
    background-color: #27282c;
    border: 2px solid var(--clr);
    transition: 0.5s;
}

#home--cat-button:hover i::after, #home--dog-button:hover i::after {
    left: 100%;
    transform: translateX(-50%) rotate(-45deg);
    box-shadow: 33px -33px var(--clr);
}


}