.darkMode {
    --background-color: #1a1a1a;
    --background-color-h1: #005f60;
    --background-color-h2: #902400;
    --text-color-h1:#dce0e0;
    --text-color-h2:#d33501;
    --border-bottom-h2: #494949;

    --background-color-header-mobile: #1a1a1a;

    --background-color-button: #994f00;
    --background-color-gray: #444c4c;
    --background-color-scroll-indicator: #434343;

    --shadow-color-article: #161616;

    --header-color: #2b2b2b;
    --header-border-color: #005f60;
    --text-color: #bdbdbd;
    --td-table-color:#1a1a1a;



    --text-color-red: #ce0b0b;
    --text-color-yellow: #beb300;
    --text-color-orange: #b55d00;
    --text-color-blue: #008083;
    --text-color-dark-orange:#d34c03;
    --text-color-dark-blue: #005f60;
    --text-color-royal-blue: #009db5;

    --text-color-light-orange:#faab36;
    --text-color-light-blue:#249ea0;
    --text-color-very-light-blue: #005f60;

}