* {
    color: whitesmoke;
}

.header-section {
    background-color: #030303;
}

#header-container {
    display: flex;
    align-items: center;
    border-bottom: 7px solid #249ea0;
    border-top: 7px solid #249ea0;
    background-color: #1a1a1b;
    padding: 0px 10px;
}


.site-url-text {
    position: absolute;
    top: 26px;
    left: 109px;
    font-weight: bold;
    color: #fefefe;
    padding: 0px 11px;
    transition: border-right .9s 2s;
}

#header-navigation li:hover {
    color: #fd5901;
    cursor:pointer;
}

.overlay-desktop {
        /* за да се подредят едно до друго: */
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: -5;
        transition: opacity 0.3s, visibility 0.3s;
}

.menu-panel {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    top: 75px;
    left: 18px;
    width: 1482.5px;
    color: inherit;
    background-color: #1a1a1b;  
    border-top: 7px solid rgb(36, 158, 160);
    box-shadow: rgba(114, 114, 114, 0.381) 0px 0.125rem 0.25rem;
}S

.panel-link-container a {
    background-image: linear-gradient(rgba(255,255,255,0) calc(100% - 1.5px),#fd5901 1.5px);
    background-position-x: -1920px;
    background-position-y: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    transition: background-position .4s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


.panel-link-container:hover {
    color: #fd5901;
}


#breadcrumb {
    width: 1483px;
    display: flex;
    align-items: center;
    background-color: #030303;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
    gap: 3px;
}


  /* The progress container (grey background) */
.scroll-indicator-container-mobile {
    display: block;
    position: fixed;
    width: 1483.2px;
    height: 7px;
    background: #b8b8b8;
  }
  
  /* The progress bar (scroll indicator) */  
  .scroll-indicator-mobile {
    height: 7px;
    background: #249ea0;
    width: 0%;
  }
  




  #content-section {
    display: flex;
    position: relative;
    z-index: 0;
    flex-direction: row;
    padding: 0px 18px;
    background-color: #030303;
}

#article-review {
    position: fixed;
    height: 620px;
    width: 320px;
    border-radius: 0;
    margin-top: 126.4px;
    background-color: #030303;
    border-right: solid 0.6px #969696;
    box-shadow: inset -5px 4px 4px -3px #969696;
}

.choose-message {
    color: red;
    font-style: italic;
    font-weight: bold;
}

#dog-btn, #cat-btn {
    background-color: #778383;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    padding: 10px;
    color: #fefefe;
    font-weight: bold;
    font-size: 18px;
}

#dog-btn:hover, #cat-btn:hover, #dog-btn-clicked:hover, #cat-btn-clicked:hover {
    background-color: #249ea0;
    scale: 1.1;
    transition: all 0.3s;
    cursor: pointer;
}

#dog-btn-clicked, #cat-btn-clicked {
    background-color: #f78104;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    padding: 10px;
    color: #fefefe;
    font-weight: bold;
    font-size: 18px;
}


#main-content {
    width: calc(100% - 320px);
    float: right;
    background-color: #e1dddd;
    margin-top: 126.4px;
    margin-left: 320px;
        /* Add transition for smooth effect when the background color changes */
        transition: background-color 0.2s ease;
}

.content {
    background-color: #030303;
    min-height: 500px;
}

#articleContent {
    background-color: #1a1a1b;
}

td, th {
    border: 1px solid #939393;
    text-align: left;
    padding: 8px;
    font-size: 0.9rem;
    text-indent: 0px!important;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

h1 {
    color: #fefefe;
    background-color: #2d898b;
    border-radius: 0px 0px 16px 16px;
    text-align: center;
    padding: 5px;
}

h2 {
    color: #ff4000;
    border-bottom: solid 5px #bdc0c0;
    font-size: 1.5rem;
    padding: 27px 0px 7px 0px;
}








.footer {
    position: relative;
    height: 100%;
    background-color: #030303;
    color: #030303;
    padding-top: 10px;
    border-top: solid 12px #202124;
}

.footer-container {
    background-color: #202124;
    color: #030303;
}

.footer-box:hover .footer-icon-text {
    color: #f78104;
    cursor: pointer;
}

.footer-terms-of-use:hover {
    color: #f78104;
    cursor: pointer;
}

.subscribe-btn {
    width: 200px;
    border-radius: 19px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(253,89,13,1) 0%, rgb(233 30 99) 100%);
    border: 0px;
    box-shadow: 3px 3px 8px #0d0e0f;
}

.share-with-others-text {
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0 0 0px white;
}




.scroll-to-top-btn {
    position: fixed;
    bottom: 15px;
    right: 80px;
    background-color: #fd5901;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
    padding: 0;
  }


  .scroll-to-share-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #005f60;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    padding: 0;
  }
  


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: none;
    z-index: 10;
  }




  .about-us {
    color: #cecece;
    font-size: 1.3rem;
    background: url(./img/about-us-background.png);
  }









@media (max-width: 1482px) {

    .header-section {
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0px 0px;
        background-color: #e1dddd;
    }

    #header-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 0px;
        padding: 0.5rem;
        background-color: #ffffff;
    }

    #search-input {
        display: none;
        height: 50px;
        position: absolute;
        top: 2%;
        left: 2%;
        width: 96%;
        box-shadow: 0px 0px 47px black;
    }


    .mobile-burger .burger-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 35px;
        background: #005f60;
        border-radius: 9px;
        opacity: 1;
        right: 0.5rem;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    #mobile-navigation span {
        font-weight: bolder;
        color: #fd5901;
        font-size: 18px;
    }

    .MENUBUTTON {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0px 20px;
        border: 0px;
        border-bottom: 0.09rem solid #434343d1;
    }


    
    



    #content-section {
        background-color: #1a1a1b;
    }

    #article {
        background-color: #1a1a1b;
    }

    #article-review {
        background-color: #030303;
    }

    h1 {
        color: #fefefe;
        font-size: 2rem;
        background-color: #e05a05;
        border-radius: 0px 0px 16px 16px;
        line-height: 2.4rem;
        padding: 7px;
        text-align: center;
    }

    h2 {
        color: #ff4000;
        border-bottom: solid 5px #bdc0c0;
        font-size: 1.5rem;
        padding: 27px 0px 7px 0px;
    }


}