/* #search-tool {
    display: none;
}

#mobile-navigation {
    display: none;
}

#breadcrumb {
    display: none;
}

#article-review {
    display: none;
}

.footer {
    display: none;
}

.scroll-to-share-img {
    display: none;
} */

/* .no-print {
    display: none;
  }
   */