/* @font-face {
    font-family: "Lobster";
    src: url(./fonts/Lobster-Regular.ttf);
} */

@font-face {
    font-family: "SofiaSans-VariableFont_wght";
    src: url(./fonts/SofiaSans-VariableFont_wght.ttf);
}

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: SofiaSans-VariableFont_wght;
    /* ПРОТИВ КОПИРАНЕ:
     user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none; */
}


.header-section {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px 18px;
    background-color: #dce0e0;
    z-index: 20;
}

#header-container {
    display: flex;
    align-items: center;
    border-bottom: 7px solid #249ea0;
    border-top: 7px solid #249ea0;
    background-color: #fefefe;
    padding: 0px 10px;
}

#header-sidebranding {
    display: flex;
    align-items: center;
}

.site-url-text {
    position: absolute;
    top: 26px;
    left: 102px;
    font-weight: bold;
    color: #fefefe;
    padding: 0px 11px;
    transition: border-right .9s 2s;
}

.site-url-img {
    height: 65px;
}

.site-logo {
    width: 65px;
}

.mobile-site-logo {
    display: none;
}



#header-navigation {
    z-index: 30;
}

#header-navigation li {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 25px 12px;
    transition: color .2s;
}

#header-navigation ul li a {
    color: inherit;
    text-decoration: none 
}

#header-navigation li:hover {
    color: #fd5901;
    cursor:pointer;
}

#header-navigation li:hover .menu-panel {
        /* за да се подредят едно до друго: */
        display: flex;          
        align-items: stretch;
        justify-content: center;
        transition: 0.25s cubic-bezier(0.4, 0, 1, 1) 0s;
        visibility: visible;
        opacity: 1;
}

.menu {
    display: flex;
    align-items: stretch;
    padding: 0px;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;

}

.menu-panel {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    list-style: none;
    top: 75px;
    left: 18px;
    width: 1482.5px;
    color: rgb(0, 0, 0);
    background-color: rgb(254, 254, 254);
    border-top: 7px solid rgb(36, 158, 160);
}

.panel-block {
    width: 34%;
}

.panel-block-between {
    text-align-last: center;
}

.navigation-img {
    height: 270px;
}

.panel-link-dog {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-end;
}

.panel-link-container {
    padding: 0px 16px;
}

.panel-link-container a {
    background-image: linear-gradient(rgba(255,255,255,0) calc(100% - 1.5px),#fd5901 1.5px);
    background-position-x: -1920px;
    background-position-y: 100%;
    background-size: auto;
    background-repeat: no-repeat;
    transition: background-position .4s;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.panel-link-container a:hover {
    background-position-x: 0;
}




#search-input {
    width: 80px;
    height: 24px;
    padding: 0px 6px;
}

#search-tool {
    padding: 0px 32px 0px 32px;
}

.button-search {
    position: absolute;
    top: 34px;
    right: 88px;
    height: 14.2px;
    opacity: 0.5;
}

.panel-block {
    line-height: 24px;
}

.search-btn {
    display: none;
}







#breadcrumb {
    width: 1483px;
    display: flex;
    align-items: center;
    background-color: #dce0e0;
    padding: 10px;
    font-style: italic;
    font-size: 14px;
    gap: 3px;
}





/* The progress container (grey background)
.scroll-indicator-container {
    width: 100%;
    height: 7px;
    background: #b8b8b8;
  }
  
  The progress bar (scroll indicator) 
  .scroll-indicator {
    height: 7px;
    background: #249ea0;
    width: 0%;
  } */

  /* The progress container (grey background) */
.scroll-indicator-container-mobile {
    display: block;
    position: fixed;
    width: 1483.2px;
    height: 7px;
    background: #b8b8b8;
  }
  
  /* The progress bar (scroll indicator) */  
  .scroll-indicator-mobile {
    height: 7px;
    background: #249ea0;
    width: 0%;
  }
  




  #content-section {
    display: flex;
    position: relative;
    z-index: 0;
    flex-direction: row;
    padding: 0px 18px;
    background-color: #dce0e0;
}

#article-review {
    position: fixed;
    height: 620px;
    width: 320px;
    border-radius: 0;
    margin-top: 126.4px;
    background-color: #dce0e0;
    border-right: solid 0.6px #969696;
    box-shadow: inset -5px 4px 4px -3px #969696;
}

.choose-message {
    color: red;
    font-style: italic;
    font-weight: bold;
}

#article-review div {
    text-align: -webkit-center;
    padding: 10px;
}

#dog-btn, #cat-btn {
    background-color: #778383;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    padding: 10px;
    color: #fefefe;
    font-weight: bold;
    font-size: 18px;
}

#dog-btn-clicked, #cat-btn-clicked {
    background-color: #f78104;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    padding: 10px;
    color: #fefefe;
    font-weight: bold;
    font-size: 18px;
}

#article-review ol li, #article-review ol li a {
    text-decoration: none;
    font-weight: bold;
}


#main-content {
    width: calc(100% - 320px);
    float: right;
    background-color: #e1dddd;
    margin-top: 126.4px;
    margin-left: 320px;
}

.content {
    background-color: #dce0e0;
    min-height: 500px;
}

#articleContent {
    padding: 15px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fefefe;
    font-size: 1.1rem;
}


#article-content--cats, #article-content--dogs {
    padding: 0px 30px;
}

#article-content--cats p, #article-content--dogs p,#article-content--cats table, #article-content--dogs table {
    padding: 9px 0px;
    text-align: justify;
}

.gallery {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 15px;
    gap: 15px;
}

.gallery img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.gallery div {
    float: initial;
    width: 300px;
    font-size: 12px;
    font-style: italic;
}

.blurred-image {
    cursor: pointer; /* Add a pointer cursor to indicate it's clickable */
  }

.clear-image {
    display: none;
  }

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid #939393;
    text-align: left;
    padding: 8px;
    font-size: 0.9rem;
  }

  tr:nth-child(odd) {
    background-color: #dddddd;
  }

h1 {
    color: #fefefe;
    background-color: #2d898b;
    border-radius: 0px 0px 16px 16px;
    text-align: center;
    padding: 5px;
}

h2 {
    color: #ff4000;
    border-bottom: solid 5px #bdc0c0;
    font-size: 1.5rem;
    padding: 27px 0px 7px 0px;
}






.footer {
    position: relative;
    height: 100%;
    background-color: #dce0e0;
    color: #dce0e0;
    padding-top: 10px;
    border-top: solid 12px #202124;
}

.footer-container {
    background-color: #202124;
    color: #dce0e0;
}

#footer-mission {
    text-align: center;
    padding: 22px 319px;
    line-height: 20px;
}

#footer-row {
    text-align: center;
    padding: 22px 319px;
    line-height: 20px;
    display: flex;
    justify-content: space-evenly;
}

.footer-box {
    width: 98px;
}

.footer-icon {
    height: 35px;
    border-radius: 47px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.footer-icon:hover {
    transform: scale(1.3);
    z-index: 2;
}

.footer-box:hover .footer-icon {
    transform: scale(1.45); 
}

.footer-icon-text, .footer-terms-of-use {
    transition: color .2s;
}

.footer-box:hover .footer-icon-text {
    color: #f78104;
    cursor: pointer;
}

.footer-terms-of-use:hover {
    color: #f78104;
    cursor: pointer;
}

.subscribe-btn {
    width: 200px;
    border-radius: 19px;
    padding: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    background: linear-gradient(90deg, rgba(253,89,13,1) 0%, rgb(233 30 99) 100%);
    border: 0px;
    box-shadow: 3px 3px 8px #0d0e0f;
}

.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.yellow     {color:#f7e904;}
.orange     {color:#f78104;}
.blue       {color:#008083;}
.dark-orange     {color:#fd5901;}
.dark-blue       {color:#005f60;}
.royal-blue      {color:#0000CC}
.lignt-orange     {color:#faab36;}
.light-blue       {color:#249ea0;}
.very-light-blue  {color:#009db5}
.red        {color:#e60000;}

.italic     {font-style: italic;}
.bold       {font-weight: bold;}
.tshadow    {text-shadow: 0px 0px 10px #000000;}
.fw800      {font-weight: 800;}
.fw900      {font-weight: 900;}

.fs8        {font-size: 8px;}
.fs12       {font-size: 12px;}
.fs16       {font-size: 16px;}
.fs24       {font-size: 24px;}
.fs27       {font-size: 27px;}
.fs36       {font-size: 36px;}

.lw24       {line-height: 24px;}

.p8        {padding: 8px;}
.p12       {padding: 12px;}
.p16       {padding: 16px;}
.p24       {padding: 24px;}
.p32       {padding: 32px;}

.pt8        {padding-top: 8px;}
.pt16       {padding-top: 16px;}
.pt24       {padding-top: 24px;}
.pt32       {padding-top: 32px;}

.pr8        {padding-right: 8px;}
.pr16       {padding-right: 16px;}
.pr24       {padding-right: 24px;}
.pr32       {padding-right: 32px;}

.pl8        {padding-left: 8px;}
.pl16       {padding-left: 16px;}
.pl24       {padding-left: 24px;}
.pl32       {padding-left: 32px;}

.pb8        {padding-bottom: 8px;}
.pb16       {padding-bottom: 16px;}
.pb24       {padding-bottom: 24px;}
.pb32       {padding-bottom: 32px;}

.plr8       {padding: 0px 8px;}
.plr16      {padding: 0px 16px;}
.plr32      {padding: 0px 32px;}

.center-text     {text-align-last: center;}

.no-dec {
    text-decoration: none;
    color: inherit;
}

.imgh500       {height: 500px;}
.imgw500       {width: 500px;}
.img300x500    {width: 100%;
                height: 300px;
                object-fit: contain;}

#mobile-navigation {
    display: none;
    transition: height 0.3s;
    z-index: 10000;
}

.mobile-burger {
    display: none;
}





#share-with-others {
    padding: 25px 10px;
    text-align: center;
}

.share-with-others-text {
    font-weight: bold;
    color: #000000;
    text-shadow: 0 0 4px white;
}

.share-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.share-box {
    display: flex;
    flex-direction: column;
    width: 132px;
    padding: 5px;
}

.share-icon {
    height: 40px;
    object-fit: contain;
}

.share-text {
    font-size: 12px;
    font-weight: bold;
}







.scroll-to-top-btn {
    position: fixed;
    bottom: 15px;
    right: 80px;
    background-color: #fd5901;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    opacity: 0;
    visibility: hidden;
    padding: 0;
  }
  
  .scroll-to-top-img {
    height: 57px;
  }

  .scroll-to-top-btn.show {
    opacity: 1;
    visibility: visible;
  }
  


  .scroll-to-share-btn {
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #005f60;
    border: none;
    border-radius: 40%;
    cursor: pointer;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
    padding: 0;
  }
  
  .scroll-to-share-img {
    height: 57px;
  }







  .h1 {
    color: #fefefe;
    font-size: 2rem;
    background-color: #e05a05;
    border-radius: 0px 0px 16px 16px;
    line-height: 2.4rem;
    padding: 7px;
    text-align: center;
}

.h2 {
    color: #ff4000;
    border-bottom: solid 5px #bdc0c0;
    font-size: 1.5rem;
    padding: 27px 0px 7px 0px;
}




#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    display: none;
    z-index: 10;
  }




@media (max-width: 1482px) {

    * {
        overflow-x: hidden;
    }

    .header-section {
        position: fixed;
        width: 100%;
        margin: 0;
        padding: 0px 0px;
        background-color: #e1dddd;
    }

    #header-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-top: 0px;
        padding: 0.5rem;
        background-color: #ffffff;
    }

    #header-sidebranding {
        padding: 0px 15px;
        margin: 0 auto 0 0;
    }

    .site-url {
        display: none;
    }

    .site-logo {
        display: none;
    }

    .mobile-site-logo {
        display: flex;
        max-width: 100%;
        height: auto;
        vertical-align: top;
    }

    #a-mobile-site-logo {
        margin-right: auto;
        max-width: 180px;
    }



    #search-tool {
        padding: 0px;
    }

    #search-input {
        display: none;
        height: 50px;
        position: absolute;
        top: 2%;
        left: 2%;
        width: 96%;
        box-shadow: 0px 0px 47px black;
    }

    .button-search {
        position: relative;
        top: inherit;
        right: inherit;
        opacity: 1;
        height: 20px;
        width: 46px;
        padding: 0px!important;
        object-fit: contain;
        margin: 8px 0px;
    }
    
  
    

    .mobile-burger {
        display: block;
        width: 35px;
        height: 31px;
    }

    .component-header-mobile .top-area .mobile-burger .burger-icon {
        width: 38px;
        height: 48px;
        position: relative;
        margin: 0 auto;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .component-header-mobile .top-area .mobile-burger .burger-icon span:nth-child(1) {
        top: 10px;
    }

    .mobile-burger .burger-icon span:nth-child(2), .component-header-mobile .top-area .mobile-burger .burger-icon span:nth-child(3) {
        top: 23px;
    }

    .mobile-burger .burger-icon span:nth-child(4) {
        top: 36px;
    }

    .mobile-burger .burger-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 35px;
        background: #005f60;
        border-radius: 9px;
        opacity: 1;
        right: 0.5rem;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }

    .mobile-burger span {
        display: none;
    } 



/* NAVIGATION */
    #header-navigation {
        display: none;
        transition: height 0.3s;
    }


          

    #mobile-navigation {
        display: none;
        max-height: 100vh;
        overflow-y: auto;
        transition: height 0.3s;
    }  

    #mobile-navigation span {
        font-weight: bolder;
        color: #fd5901;
        font-size: 18px;
    }

    #mobile-navigation--cats, #mobile-navigation--dogs {
        display: none;
        transition: height 0.3s;
    }

    .MENUBUTTON {
        width: 100%;
        height: 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 0.9rem;
        padding: 0px 20px;
        border: 0px;
        border-bottom: 0.09rem solid #434343d1;
    }

    .MENUBUTTON-text {
        width: 100%;
        border-bottom: none;
        height: fit-content;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 0.9rem;
        border: 0px;
    }


/* ARROW MENU CAT */
    .arrow-icon, .arrow-icon--dogs, .arrow-icon--aboutus {
        background-color: transparent;
        height: 35px;
        width: 35px;
        display: block;
        position: relative;
        cursor: pointer;
        border-radius: 4px;
      }
      
      .left-bar, .left-bar--dogs, .left-bar--aboutus {
        position: absolute;
        background-color: transparent;
        top: 15px;
        left: 0;
        width: 20px;
        height: 5px;
        display: block;
        transform: rotate(35deg);
        float: right;
        border-radius: 2px;
        overflow: visible!important
      }
      .left-bar:after, .left-bar--dogs:after, .left-bar--aboutus:after {
        content: "";
        background-color: #fd5901;
        width: 20px;
        height: 5px;
        display: block;
        float: right;
        border-radius: 6px 10px 10px 6px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
        z-index: -1;
      }
      
      .right-bar, .right-bar--dogs, .right-bar--aboutus {
        position: absolute;
        background-color: transparent;
        top: 15px;
        left: 13px;
        width: 20px;
        height: 5px;
        display: block;
        transform: rotate(-35deg);
        float: right;
        border-radius: 2px;
        overflow: visible!important
      }
      .right-bar:after, .right-bar--dogs:after, .right-bar--aboutus:after {
        content: "";
        background-color: #fd5901;
        width: 20px;
        height: 5px;
        display: block;
        float: right;
        border-radius: 10px 6px 6px 10px;
        transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 0.8);
        z-index: -1;
      }
      
      .open .left-bar:after, .open .left-bar--dogs:after, .open .left-bar--aboutus:after {
        transform-origin: center center;
        transform: rotate(-70deg);
      }
      .open .right-bar:after, .open .right-bar--dogs:after, .open .right-bar--aboutus:after {
        transform-origin: center center;
        transform: rotate(70deg);
      }
    
    






    /* ЗА BURGER БУТОН */
    .menu1 {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0;
      }
      .line {
        fill: none;
        stroke: #005f60; 
        stroke-linecap: round;
        stroke-width: 10px;
        transition: stroke-dasharray 1000ms cubic-bezier(0.4, 0, 0.2, 1),
          stroke-dashoffset 1000ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      .line1 {
        stroke-dasharray: 60 207;
      }
      .line2 {
        stroke-dasharray: 60 60;
      }
      .line3 {
        stroke-dasharray: 60 207;
      }
      .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
      }
      .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
      }
      .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
      }
      




    /* GROWTH PAGE */
    #breadcrumb {
        width: 100%;
    }

    .breadcrumb-link {
        font-size: 0.7rem;
    }

    .scroll-indicator-container {
        position: fixed;
        top: 56px;
        background: transparent;
    }

    .scroll-indicator-container-mobile {
        display: block;
        position: fixed;
        width: 100%;
        height: 7px;
        top: 57px;
        z-index: 30;
    }



    #content-section {
        display: flex;
        flex-direction: column;
        z-index: 0;
        padding: 0px 18px;
        background-color: #ffffff;
    }

    #article {
        display: flex;
        width: 100%;
        padding: 10px;
        background-color: #fefefe;
        flex-direction: column;
        align-items: center;
        font-size: 1.05rem;
    }

    #article-review {
        border: 0;
        background-color: #dce0e0;
        box-shadow: none;
        position: relative;
        height: 100%;
        padding: 24px;
        border-radius: 0px;
        margin: 114.8px 0px 0px 0px;
        width: 100%;
    }

    #main-content {
        width: 100%;
        margin: 0;
        float: none;
    }

    .content {
        padding: 64px 0px 0px 0px;
        min-height: auto;
    }



    #articleContent {
        width: 100%;
        overflow: hidden;
        padding: 0px;
        height: auto;
    }




    h1 {
        color: #fefefe;
        font-size: 2rem;
        background-color: #e05a05;
        border-radius: 0px 0px 16px 16px;
        line-height: 2.4rem;
        padding: 7px;
        text-align: center;
    }

    h2 {
        color: #ff4000;
        border-bottom: solid 5px #bdc0c0;
        font-size: 1.5rem;
        padding: 27px 0px 7px 0px;
    }






    #footer-mission {
        padding: 24px;
    }

    #footer-row {
        padding: 10px;
    }


}

