.breed-trait-header {
    padding-bottom: 10px;
    color: #000000b3;
}

.breedTrait {
    width: 330px;
    padding: 12px 26px 12px 26px;
    background-color: #cee9ea;
    border-top-right-radius: 16% 85%;
    border-bottom-left-radius: 16% 85%;
    margin: -9px 0px;
}

.breedTraitMirrored {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 16% 85%;
    border-bottom-right-radius: 16% 85%;    
}

/* .breedTrait::before {
    content:"";
    background-color: #d900ff;
    width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
} */

.breed-trait__name {
    color: #000000b3;
    font-size: 1rem;
    margin-bottom: 10px;
}

.breed-trait-score__score-wrap {
    display: flex;
}

.breed-trait-score {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.breed-trait-score__score-label {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.breed-trait-score__score-unit {
    background-color: #ccc;
    border-radius: 22px;
    height: 8px;
    width: 100%;
}

.purple {
    background-color: #d900ff;
}

.grey {
    background-color: #4b4b4b;
}

.breed-trait-score__score-unit--filled {
    background-color: #f78104c7;
}




.breed-trait-score__score-unit:not(:last-child) {
    margin-right: 3px;
}