.swiper {
    max-width: 600px;
    height: 300px;
  }

  .swiper-slide img {
    width: 100%;
    object-fit: contain;
  }

  .breed-overview-box {
    text-align: -webkit-center;
  }

.breed-overview {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 600px;
    border: 3px solid rgb(196 196 196 / 15%);
    padding: 30px;
    background-color: #f781045c;
    box-shadow: 0 5px 14px rgb(255 152 0 / 34%);
}

.card {
    flex: 0 0 100%;
}

.card-title {
    width: 113px;
    padding-right: 24px;
    float: left;
    text-align: -webkit-left;
    font-weight: 800;
    font-size: 1.2rem;
    color: #252525;
}

.card-text {
    width: calc(100% - 113px);
    padding-bottom: 10px;
    text-align: -webkit-left;
    font-size: 1.2rem;
    color: #252525;
}

.card-text span {
    padding: 0px 20px 0 0;
    white-space: nowrap;
}


@media (max-width: 483px) {
    .card-title {
        width: 93px;
    }
    
    .card-span {
        text-align: end;
    }    
}















.breed-back-outer-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: auto!important;
    padding: 50px;
    font-size: 1.2rem;
    font-weight: 800;

    background: no-repeat url(../css/img/dog-breeds/1151.png),
                                    linear-gradient(to right, rgb(255, 0, 0, 0.5) 0%, rgb(255, 0, 0, 0.5) 50%,
                                                              rgb(0, 157, 255, 0.5) 50%, rgb(0, 157, 255, 0.5) 100%),
                                    linear-gradient(to right, rgba(234, 255, 0, 0.5) 0%, rgb(234, 255, 0, 0.5) 50%,
                                                              rgba(9, 255, 0, 0.5) 50%, rgba(9, 255, 0, 0.5) 100%); 

    /* ЯКО:
    background: no-repeat url(../css/img/dog-breeds/1151.png),
    linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(238, 255, 0, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
background-position:
    center,
    left,
    right;
background-size: auto; */
                                                              
    background-position:
                center,
                left,
                right;
    background-size: auto, 100% 50%;
    background-position: center, top left, bottom left;
    background-repeat: no-repeat;
    border-top-left-radius: 21% 53%;
    border-top-right-radius: 21% 53%;
    border-bottom-left-radius: 21% 53%;
    border-bottom-right-radius: 21% 53%;
}

.breed-back-box {
    width: 50%;
    height: 250px;
    padding: 50px;
}

.breed-family, .breed-social {
    color: #343434d9;
}
.breed-physical, .breed-personality {
    text-align: end;
    color: #343434d9;
}